.skills {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.skills--list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.skill--container {
  width: max-content;
  padding: 8px 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.skill--icon {
  width: 80px;
  height: 80px;
  font-size: 80px;
}
.skill--title {
  padding-top: 10px;
}
.skill-desktop {
  margin-top: 50px;
}
@media only screen and (max-width: 720px) {
  .skill--container {
    height: 100px;
  }
  .skills--list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: space-around;
  }
  .skill--icon {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
}

.skillsA {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  position: relative;
}
.skillsA img {
  max-width: 1200px;
  width: auto;
  height: 60vh;
}

.skills-lottie {
  position: absolute;
  z-index: 2;
  max-width: 400px;
  width: auto;
}

/* @-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
} */
