.contact {
  display: flex;
  flex-direction: column;

  padding-top: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact--input {
  width: 100%;
  margin: 6px 18px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  color: var(--color-primary);
  padding-bottom: 16px;
  font-size: 20px;
}
.contact--input:focus {
  outline: none;
  border-bottom-color: var(--color-secondary);
}

.contact--input:hover {
  cursor: pointer;
}

.contact_message {
  height: 100px;
}

.contact--submit {
  font-size: 20px;
  border: 1px solid var(--color-primary);
  margin: 10px 20px 0px 20px;
  padding: 8px 16px;
  border-radius: 40px;
  color: var(--color-primary);
  background: transparent;
}

.contact--submit:hover {
  background-color: var(--color-secondary);
  color: var(--color-background-secondary);
  border-color: var(--color-secondary);
  cursor: pointer;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_email {
  font-size: 20px;
  margin-bottom: 24px;
  margin-left: 10px;
}
.contact--social {
  display: flex;
}
.successful {
  color: #40e0d0;
}
.error {
  color: red;
}
.thanks_message {
  padding-left: 12px;
  padding-bottom: 10px;
}
@media (min-width: 780px) {
  .contact-left {
    width: 400px;
  }
}
@media only screen and (max-width: 780px) {
  .contact {
    background: var(--color-backround);
    z-index: 2;
    width: 85%;
    margin: auto;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }
  .contact--submit {
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    width: 200px;
  }
  .contact-left {
    width: 270px;
    margin: auto;
  }
  .contact-right {
    align-items: center;
  }
  .contact--social {
    margin-bottom: 20px;
  }
  .thanks_message {
    text-align: center;
  }
}
