* {
  box-sizing: border-box;
}
:root {
  --color-backround: #252531;
  --color-background-primary: #252531;
  --color-background-secondary: #1c1c26;
  --color-primary: #f8f8ff;
  --color-secondary: #7888f3;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--color-backround);
}
.home {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section--title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}
@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
  }
}
