.header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}

.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.menu-icon {
  width: fit-content;
  font-size: 24px;
  fill: var(--color-primary);
}
.menu-icon:hover {
  transform: scale(1.1);
  fill: var(--color-secondary);
  transition: all 0.5s;
}

.mobile-menu {
  display: none;
}

.web-menu {
  display: flex;
}

.logo {
  font-size: 40px;

  color: rgb(197, 63, 63); /*#fcb960 */
  background: linear-gradient(
    90deg,
    #8d7eff 35%,
    rgba(255, 255, 255, 0.6225840678068102) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .icon--container {
    display: flex;
    justify-content: flex-end;
  }
  .web-menu {
    display: none;
    font-size: 24px;
  }
  .logo {
    position: absolute;
    left: 5px;
    top: 0;
  }
}

@media only screen and (min-width: 721px) {
  .sticky {
    position: sticky;
    top: 0;
    background: var(--color-background-primary);
  }
}
