.projects {
  background: var(--color-background-secondary);
  padding-top: 50px;
}
.project--cards {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 720px) {
  .project--cards {
    flex-direction: column;
    align-items: center;
  }
}
